<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEET US!
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% include about_details %>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu">
          <a href="#">Team Members <span class="caret"></span> </a>
          <ul class="dropdown-menu">
<div class="container">
    <div class="body">
      <div class="container-fluid">
  <div class=row>
      <div class="col col-md-12">
          <br />
          <ol>
              
              <li>
                customer -- <a href="https://martonwebsite.herokuapp.com/" > Marton Bagoly</a>
              </li>
              <li>
                Products-- <a href="https://mysterious-river-99316.herokuapp.com/" target="_blank"> Akhila Gandra</a> 
               </li>
              <li>
                OrderLine -- <a href="https://havya03.herokuapp.com/"> Havya Ravipati</a>
              </li>
              <li>
                Orders -- <a href="https://rocky-castle-41937.herokuapp.com/index">Sai Varun Reddy Anugu</a>
              </li>
          </ol>
      </div>
  </div>
</div>
</div>
</div>
          </ul>
        </li>
    </ul>
  </li>