<!DOCTYPE html>
<html>
    <head>
        <title>
            Website
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="Style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> Welcome</a>
                </div>
  
                <ul class="nav navbar-nav">
                    <li><a href=/>Home</a></li>
                   <!-- <li><a href="/About">About</a></li> -->
                    <li><a href="/products">Product</a></li>
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/order">Order</a></li>
                    <li><a href="/orderLineItem">Order Line Item</a></li>

                </ul>
            </div>
        </nav>