<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>Group 6-06 STORE</h1>
        <br/>
        <h2>Buy everything, we even sell on credit!</h2>
        <br/>
        <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
      <!--Testing orderlineitem-->
      <li>
        <a href="orderLine">orderLine</a>
      </li>
      <li>
        <a href="orderLine/create">orderLine/create</a>
      </li>

      <li>
        <a href="orderLine/edit/1">orderLine/edit/1</a>
      </li>
      <li>
        <a href="orderLine/edit/2">orderLine/edit/2</a>
      </li>
      <li>
        <a href="orderLine/edit/3">orderLine/edit/3</a>
      </li>
      

      <li>
        <a href="orderLine/delete/1">orderLine/delete/1</a>
      </li>
      <li>
        <a href="orderLine/delete/2">orderLine/delete/2</a>
      </li>
      <li>
        <a href="orderLine/delete/3">orderLine/delete/3</a>
      </li>
      

      <li>
        <a href="orderLine/details/1">orderLine/details/1</a>
      </li>
      <li>
        <a href="orderLine/details/2">orderLine/details/2</a>
      </li>
      <li>
        <a href="orderLine/details/3">orderLine/details/3</a>
      </li>
    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="orderLine/findall">orderLine/findall</a>
      </li>
      <li>
        <a href="orderLine/findone/1">orderLine/findone/1</a>
      </li>
      <li>
        <a href="orderLine/findone/2">orderLine/findone/2</a>
      </li>
      <li>
        <a href="orderLine/findone/3">orderLine/findone/3</a>
      </li>
      <li>
        <a href="orderLine/findone/3">orderLine/findone/4</a>
      </li>
      <li>
        <a href="orderLine/findone/3">orderLine/findone/5</a>
      </li>
    </ol>
      <!--Testing customer-->
      <h4>GET a view</h4>
      <ol>
      <br/>
      <li>
        <a href="customer">customer</a>
      </li>
      <li>
        <a href="customer/create">customer/create</a>
      </li>

      <li>
        <a href="customer/edit/1">customer/edit/1</a>
      </li>
      <li>
        <a href="customer/edit/2">customer/edit/2</a>
      </li>
      <li>
        <a href="customer/edit/3">customer/edit/3</a>
      </li>
      

      <li>
        <a href="customer/delete/1">customer/delete/1</a>
      </li>
      <li>
        <a href="customer/delete/2">customer/delete/2</a>
      </li>
      <li>
        <a href="customer/delete/3">customer/delete/3</a>
      </li>
      

      <li>
        <a href="customer/details/1">customer/details/1</a>
      </li>
      <li>
        <a href="customer/details/2">customer/details/2</a>
      </li>
      <li>
        <a href="customer/details/3">customer/details/3</a>
      </li>
    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="customer/findall">customer/findall</a>
      </li>
      <li>
        <a href="customer/findone/1">customer/findone/1</a>
      </li>
      <li>
        <a href="customer/findone/2">customer/findone/2</a>
      </li>
      <li>
        <a href="customer/findone/3">customer/findone/3</a>
      </li>
      <li>
        <a href="customer/findone/3">customer/findone/4</a>
      </li>
      <li>
        <a href="customer/findone/3">customer/findone/5</a>
      </li>
    </ol>
      <!--Testing product-->
      <ol>
      <h4>GET a view</h4>
      <br/>
      <li>
        <a href="products">products</a>
      </li>
      <li>
        <a href="products/create">products/create</a>
      </li>

      <li>
        <a href="products/edit/1">products/edit/1</a>
      </li>
      <li>
        <a href="products/edit/2">products/edit/2</a>
      </li>
      <li>
        <a href="products/edit/3">products/edit/3</a>
      </li>
      

      <li>
        <a href="products/delete/1">products/delete/1</a>
      </li>
      <li>
        <a href="products/delete/2">products/delete/2</a>
      </li>
      <li>
        <a href="products/delete/3">products/delete/3</a>
      </li>
      

      <li>
        <a href="products/details/1">products/details/1</a>
      </li>
      <li>
        <a href="products/details/2">products/details/2</a>
      </li>
      <li>
        <a href="products/details/3">products/details/3</a>
      </li>
    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="products/findall">products/findall</a>
      </li>
      <li>
        <a href="products/findone/1">products/findone/1</a>
      </li>
      <li>
        <a href="products/findone/2">products/findone/2</a>
      </li>
      <li>
        <a href="products/findone/3">products/findone/3</a>
      </li>
      <li>
        <a href="products/findone/3">products/findone/4</a>
      </li>
      <li>
        <a href="products/findone/3">products/findone/5</a>
      </li>
    </ol>
      <!--Testing order-->
    <ol>
      <h4>GET a view</h4>
      <br/>
      <li>
        <a href="order">order</a>
      </li>
      <li>
        <a href="order/create">order/create</a>
      </li>

      <li>
        <a href="order/edit/1">order/edit/1</a>
      </li>
      <li>
        <a href="order/edit/2">order/edit/2</a>
      </li>
      <li>
        <a href="order/edit/3">order/edit/3</a>
      </li>
      

      <li>
        <a href="order/delete/1">order/delete/1</a>
      </li>
      <li>
        <a href="order/delete/2">order/delete/2</a>
      </li>
      <li>
        <a href="order/delete/3">order/delete/3</a>
      </li>
      

      <li>
        <a href="order/details/1">order/details/1</a>
      </li>
      <li>
        <a href="order/details/2">order/details/2</a>
      </li>
      <li>
        <a href="order/details/3">order/details/3</a>
      </li>
    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="order/findall">order/findall</a>
      </li>
      <li>
        <a href="order/findone/1">order/findone/1</a>
      </li>
      <li>
        <a href="order/findone/2">order/findone/2</a>
      </li>
      <li>
        <a href="order/findone/3">order/findone/3</a>
      </li>
      <li>
        <a href="order/findone/3">order/findone/4</a>
      </li>
      <li>
        <a href="order/findone/3">order/findone/5</a>
      </li>
      

    </ol>


  </div>
</div>
</div>