<!--Author: Akhila Gandra-->

<h1>product Page</h1>

<ul>
    <li><a href="product/findall">Find All</a></li>
    <li><a href="product/findone/0">Find One</a></li>
    <li><a href="product/create">Create</a></li>
    <li><a href="product/delete/0">Delete</a></li>
    <li><a href="product/details/0">Details</a></li>
    <li><a href="product/edit/0">Edit</a></li>
</ul>